modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5904
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_PORTONE_STORE_ID = "store-1ceaed4f-bb75-4008-a0c5-32050123deaa"
VITE_PORTONE_CHANNEL_KEY = "channel-key-b4fe233e-6470-4960-bad2-8abf5a68d82e"
SOLAPI_API_KEY = "NCSKXIVWJU8XF6LV"
SOLAPI_API_SECRET = "QETQSZ2EVNIRRBQORZI3OKUVLWEQKZHT"
SOLAPI_SENDER_PHONE = "01052924773"
KAKAO_PFID = "KA01PF260312093022077BITdAbhxVIP"
KAKAO_TEMPLATE_CODE_BOOKING_CONFIRMED = "KA01TP2603130448398483514rk3O2wH"
KAKAO_TEMPLATE_CODE_DEPOSIT_GUIDE = "KA01TP260313044930917rkrBIcprGRM"
KAKAO_TEMPLATE_CODE_REMINDER_BEFORE = "KA01TP260313044955673pi41KmoHfF5"
KAKAO_TEMPLATE_CODE_BOOKING_CANCELLED = "KA01TP260313045016942Qyh5Yjv4CQB"
PORTONE_API_SECRET = "O2fnmzBnF3gPbucDv7B69b2H80TavdF87V0sFZBjInwvCsNbQQT17yjrdRbOreY2tVKSgpnLeWwoxS8a"
